
footer {
/*  position: absolute;*/
  width: 100%;
  z-index: -20;
  /*height: 272px;*/
  #footer {
    background: $footer-color;
    min-height: $footer-height;
    padding: 0 0 2% 0;
    position: relative;
    color: $footer-text-color;
    text-shadow: 1px 1px darken($footer-color, 55%);
    ul.footer-column {
	  list-style: none inside;
	  /*margin-left: 1.5em;*/
	  padding: 0;
 	  /*border-right: 1px dotted darken($footerTextColor, 55%);*/
 	  /*height: 128px;*/
 	  margin: 30px 0;
	  li {
	    font-size: 88%;
	    h4 { margin: 0 0 0 6px; padding-bottom: 0.8em;}
	  }
	  ul.footer-sub-list {
		list-style: circle inside none;
		padding: 0 0 0 8px;
	  }
	  a {
		color: $footer-text-color;
		line-height: 1.8em;
		border-bottom: 0;
		&:hover { color: lighten($footer-text-color, 25%) };
	  }
	}
	ul.footer-column-horizontal {
	  list-style: none inside;
	  text-align: center;
	  /*margin-left: 1.5em;*/
	  padding: 0;
 	  /*border-right: 1px dotted darken($footerTextColor, 55%);*/
 	  /*height: 128px;*/
 	  margin: 0 0 30px 0;
        @media (max-width: 480px), (max-width: 767px) { 
          margin: 30px 0;
        }
	  li {
	    font-size: 88%;
	    display: inline;
	    h4 { margin: 0 0 0 6px; padding-bottom: 0.8em;}
	  }
	  ul.footer-sub-list {
		list-style: circle inside none;
		padding: 0 0 0 8px;
	  }
	  a {
		color: $footer-text-color;
		line-height: 1.8em;
		border-bottom: 0;
		&:hover { color: lighten($footer-text-color, 25%) };
	  }
	}
	.footer-horizontal {
        background-image: linear-gradient(to right, #1f1f1f, #6b6b6b 35%, #6b6b6b 65%, #1f1f1f);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 40% 1px;
        margin-top: -6px;
        padding-bottom: 14px;
        text-align: center;
	  /*border-top: 1px dotted darken($footer-text-color, 55%);*/
	  margin-top: 10px;
	  padding-top: 20px;
	  #footer-bottom { margin-bottom: 20px; }
	  a {
		color: $footer-text-color;
		line-height: 1.8em;
		&:hover { color: lighten($footer-text-color, 25%) };
	  }
	}
	 .footer-logo-container { display: inline-block; margin: 20px 20px 0px 0px; }
  }

  #feedback-tab-container {
    background: none repeat scroll 0% 0% #1F1F1F !important;
    div > * { margin-top: 0 !important; }
    z-index: 1030;
    height: 50px;
  }

}



/* mobile footer adjustment */
/* @media (max-width: 480px), (max-width: 767px) { 
  footer #footer{
    position: relative !important;
    padding: 0 !important;
  } 
  section#content{
  	margin: 0;
    padding: 0;       
  }
  section#content.page-shadow { box-shadow: none; }
}*/