#carousel { min-height: $header-max-height; }

#carousel-image-1 { 
  background: #005269;
  background: url($header-slide-1); /* fallback */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url($header-slide-1) center center; /* create mixin for browser variants */
  @include background-cover; 
}
#carousel-image-2 { 
  background: #005269;
  background: url($header-slide-2); /* fallback */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url($header-slide-2) center center; /* create mixin for browser variants */
  @include background-cover; 
}
#carousel-image-3 { 
  background: #005269;
  background: url($header-slide-3); /* fallback */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url($header-slide-3) center center; /* create mixin for browser variants */
  @include background-cover; 
}
#carousel-image-4 { 
  background: #005269;
  background: url($header-slide-4); /* fallback */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url($header-slide-4) center center; /* create mixin for browser variants */
  @include background-cover; 
}

.image-holder {
  min-height: $header-max-height;
}

.carousel-caption {
  bottom: 8%;
  left: 10%;
  right: 10%;
  h1 { 
    font-size: 60px; 
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.57); 
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90); *//* IE9 fallback - all ugly, need svg fallback*/
    /*filter: dropshadow(color=#000000, offx=0, offy=0, Positive=1);*/
    /*filter: shadow(color=#111, Direction=120, Strength=3);*/
  }
  input, button { border-radius: 0 !important; }
  .navbar-form { box-shadow: none; }
  p { font-size: 20px; }
  a { color: #fff }
 /* background: rgba(0,0,0,0.75)ok, no ;
  -webkit-box-shadow: 0px 0px 165px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 165px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 165px 1px rgba(0,0,0,0.75);*/
}

#header-sub-menu {
  background: white;
  .menu-item {
    height: $header-sub-menu-height;
    color: #fff;
    text-align: center;
/*    padding-top: ($header-sub-menu-height - 20) / 2 ;*/
    font-family: 'open_sansbold', sans-serif !important;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    
    a#item1{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: ($header-sub-menu-height - 20) / 2;
      left: 0;
      cursor: pointer;
      color: #333;
      text-decoration: none;
      transition: background-color 0.5s ease;
      &:hover { background: $secondary-color; color: #fff;}
    }

    a#item2{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: ($header-sub-menu-height - 20) / 2;
      left: 0;
      cursor: pointer;
      color: #333;
      text-decoration: none;
      transition: background-color 0.5s ease;
      &:hover { background: $secondary-color-2; color: #fff;}
    }

    a#item3{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: ($header-sub-menu-height - 20) / 2;
      left: 0;
      cursor: pointer;
      color: #333;
      text-decoration: none;
      transition: background-color 0.5s ease;
      &:hover { background: $secondary-color-3; color: #fff;}
    }

    a#item4{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: ($header-sub-menu-height - 20) / 2;
      left: 0;
      cursor: pointer;
      color: #333;
      text-decoration: none;
      transition: background-color 0.5s ease;
      &:hover { background: $secondary-color-4; color: #fff;}
    }

  }
}