/* navbar-fixed-top is in use:*/
/*body { padding-top: $navbar-height + $subnavbar-height; }*/

/*.brand-logo { 
	margin: (
				(($navbar-height - $brand-logo-height) / 2) 
				($grid-gutter-width / 2)
			);
	
}*/
/*
#brand-logo-icon { 
  display: block;
  text-indent: -9999px;
  height: $navbar-height;
  min-width: $brand-logo-min-width; 
  background: url($brand-logo-image);
  background-size: cover;
  margin: 30px;
}*/

/* navbar-fixed-top is in use:*/
/*body { padding-top: $navbar-height + $subnavbar-height; }*/

#main-container {
    min-height: $main-container-height;
}

.news-article {
  margin: .5rem 0 3.5rem 0;
  .bar-time {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $neutral-color;
    margin: 0 0 0.2rem 0;
  } 
  > h3 { margin: 0.2rem 0 0.5rem;}
  .read-artlec { margin: 0 0 0.2rem 0; }
}

.hr-alt { 
  background-image: linear-gradient(to right, #fff, $neutral-color-light 35%, $neutral-color-light 65%, #fff);

    background-position: center top;
    background-repeat: no-repeat;
    background-size: 40% 1px;
/*    margin-top: 10px;
    padding-bottom: 14px;*/
    padding-top: 20px;
    text-align: center;
    color: transparent;

  margin: ($grid-gutter-width * 1.8) 0 $grid-gutter-width 0;
}

.doc {
    margin: 20px 0;
}

.brand-logo { 
    margin: (
                (($navbar-height - $brand-logo-height) / 2) 
                ($grid-gutter-width / 2)
/*              (($navbar-height - $brand-logo-height) / 2)
                ($grid-gutter-width / 2)*/
            );
    /*background: url($brand-logo-image) no-repeat top left;
    background-size: cover;*/
    height: 56px;
    margin: 11px 15px;
    width: 41px;
            }l

.brand-title { 
    margin: ( 
                (($navbar-height - $brand-title-size) / 3) 
                ($grid-gutter-width) 
                0 
                ($grid-gutter-width / 2) 
            );
}

.university-logo {
    margin-top: (($navbar-height - $univesity-logo-height) / 2); 
    margin-right: ($grid-gutter-width / 2) !important;
}

.navbar-alt { background: $navbar-alt; }

section#content {
    background: transparent;  /*$body-bg;*/
    margin: 0 0 $footer-height;
    /*padding: 0 0 $footer-height;*/
    z-index: 1045;
}

.full-width { width: 100%; margin: 0 !important; }

.row-spacer {
    margin-top: 50px;
}