/*header navigation*/
.headernav { z-index: 1045; }

/* sub navigation */
.subnav { 
	top: $sub-navbar-height;
	/*height: $subnavbar-height;*/
	/*padding: ($subnavbar-height * 0.25) 0 ($subnavbar-height * 0.75) 0;*/
	padding: ($grid-gutter-width / 2) 0;
	z-index: 999;
}

@media (max-width: 480px), (max-width: 767px) { 
  .subnav { 
	top: 0;
	}
}

.next-tile-link {
	font-size: 4em;
}

.tile-content a {
  color: $primary-link-color;
  text-decoration: none;
  border-bottom:1px dotted;
  &:hover { color: $primary-link-hover-color; text-decoration: none;}
}

.btn-sign-in { 
	@include transition(0.5s);
	background-color: $primary-color;
    border-color: darken($primary-color, 7%);
    color: white; 
    &:hover { background: darken($primary-color, 7%); color: $neutral-color-light; }
}

.btn-sign-in-sm {
	@include transition(0.5s);
    color: #fff;
    height: 30px;
    margin: 10px;
    padding: 5px 10px;
    width: 85px;
    &:hover { background: darken($primary-color, 7%); color: $neutral-color-light; }
}

.tile-btn-primary { @include tile-link($primary-color); }
.tile-btn-primary-2 { @include tile-link($primary-color-2); }
.tile-btn-primary-3 { @include tile-link($primary-color-3); }
.tile-btn-primary-4 { @include tile-link($primary-color-4); }

.tile-btn-secondary { @include tile-link($secondary-color); }
.tile-btn-secondary-2 { @include tile-link($secondary-color-2); }
.tile-btn-secondary-3 { @include tile-link($secondary-color-3); }
.tile-btn-secondary-4 { @include tile-link($secondary-color-4); }


.tile-btn-blue {
	@include tile-link($blue);
}

.tile-btn-green {
	@include tile-link($green);
}

.tile-btn-orange {
	@include tile-link($orange);
}


/*.tile-btn-green {
	&:hover { 
		.tile-inner-container {  
			@include transition(0.5s);
			background: $green;
			> h3 { color: #fff !important; }
		}
	}
}

.tile-btn-orange {
	&:hover { 
		.tile-inner-container {  
			@include transition(0.5s);
			background: $orange;
			> h3 { color: #fff !important; }
		}
	}
}*/

::selection {
  background: $primary-link-color;
  color: #fff
}

::-moz-selection {
  background: $primary-link-color;
  color: #fff;
}
