/* links */
a { color: $primary-color; }

/*header navigation*/
.headernav { z-index: 1045; }

/* sub navigation */
.subnav { 
	top: $sub-navbar-height;
	/*height: $subnavbar-height;*/
	/*padding: ($subnavbar-height * 0.25) 0 ($subnavbar-height * 0.75) 0;*/
	padding: ($grid-gutter-width / 2) 0;
	z-index: 999;
}

@media (max-width: 480px), (max-width: 767px) { 
  .subnav { 
	top: 0;
	}
}

.next-tile-link {
	font-size: 4em;
}

.tile-content a {
  color: $primary-link-color;
  text-decoration: none;
  border-bottom:1px dotted;
  &:hover { color: $primary-link-hover-color; text-decoration: none;}
}

.btn-sign-in { 
	@include transition(0.5s);
	background-color: $primary-color;
    border-color: darken($primary-color, 7%);
    color: white; 
    &:hover { background: darken($primary-color, 7%); color: $neutral-color-light; }
}

.btn-sign-in-sm {
	@include transition(0.5s);
    color: #fff;
    height: 30px;
    margin: 10px;
    padding: 5px 10px;
    width: 85px;
    &:hover { background: darken($primary-color, 7%); color: $neutral-color-light; }
}

.tile-btn-primary { @include tile-link($primary-color); }
.tile-btn-primary-2 { @include tile-link($primary-color-2); }
.tile-btn-primary-3 { @include tile-link($primary-color-3); }
.tile-btn-primary-4 { @include tile-link($primary-color-4); }

.tile-btn-secondary { @include tile-link($secondary-color); }
.tile-btn-secondary-2 { @include tile-link($secondary-color-2); }
.tile-btn-secondary-3 { @include tile-link($secondary-color-3); }
.tile-btn-secondary-4 { @include tile-link($secondary-color-4); }


.tile-btn-blue {
    @include tile-link($blue);
}

.tile-btn-green {
    @include tile-link($green);
}

.tile-btn-orange {
    @include tile-link($orange);
}


/*.tile-btn-green {
	&:hover { 
		.tile-inner-container {  
			@include transition(0.5s);
			background: $green;
			> h3 { color: #fff !important; }
		}
	}
}

.tile-btn-orange {
	&:hover { 
		.tile-inner-container {  
			@include transition(0.5s);
			background: $orange;
			> h3 { color: #fff !important; }
		}
	}
}*/

::selection {
  background: $primary-link-color;
  color: #fff
}

::-moz-selection {
  background: $primary-link-color;
  color: #fff;
}

/* applied filters */
.appliedFilter { 
    > span, > a { 
        background: $applied-filter-color; 
        color: set-overlay-text-color($applied-filter-color);
        border-color: darken($applied-filter-color, 5%);
    }
    .filterName:after { color: #fff; }
    .constraint-value:hover, .constraint-value:active {
        background: $applied-filter-color; 
        color: set-overlay-text-color($applied-filter-color);
        border-color: darken($applied-filter-color, 5%); 
    }
}

/* sort and per page */
#sort-dropdown, #per_page-dropdown {
    > button { 
        background: $btn-base-color; 
        border-color: darken($btn-base-color, 5%); 
        @include transition(0.5s);
        a, .caret { color: set-overlay-text-color($btn-base-color); }
        &:hover, &:active, { 
            color: set-overlay-text-color($sort-and-per-page-color); 
            background: $sort-and-per-page-color; 
            border-color: darken($sort-and-per-page-color, 5%); 
        }
    }
}

/* facet panel */
.panel-title {
    font-size: 14px;
    a, a:hover { text-decoration: none;}
}

.facet-label, .facet-count {
    font-size: 90%;
}
.facet_limit > .panel-heading {
    @include transition(0.5s);
    &:hover { background:  darken(whitesmoke, 5%); }
}

.facet_limit-active > .panel-heading {
    @include transition(0.5s);
    &:hover { background:  darken(#d6e9c6, 2%); }
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
    background: #dff0d8;
    border-top-color: #dff0d8;
}
.panel-body > ul { margin-bottom: 0; }

.facet-label a, .facet-count {
    color: #444;
    text-shadow: 0px 1px 0px #EFEFEF;
}

.facet-label {
    padding-right: 0 !important;
    .selected { float: left; }
    .facet-count { float: right; }
}

/*.facet_limit-active > .panel-heading {
    background-color: #d6e9c6;
}*/