// Variables

/* header */
$header-slide-1: '/assets/temporary_slider_1.jpg';
$header-slide-2: '/assets/temporary_slider_2.jpg';
$header-slide-3: '/assets/temporary_slider_3.jpg';
$header-sub-menu-height: 80px;