// Variables

/* header */
$header-slide-1: asset-path('slide-1.jpg');
$header-slide-2: asset-path('slide-2.jpg');
$header-slide-3: asset-path('slide-3.jpg');
$header-slide-4: asset-path('slide-4.jpg');
$header-sub-menu-height: 80px;