/*
$beige: #e2d8cc;
$khaki: #5b583b;

// -------
//  Show
// -------

.show-document .dl-horizontal dt {
  // On the show page for a library record, the
  //'Publication Information' field is too long for 160px.
  width: 175px;
}

.show-document #sidebar {
  margin-top: 20px;
}

.show-document .document h1 {
  font-size: 31.5px !important;
}

.show-document #asset-list {
  margin: 0 5% 1.25em 5%;
}

.show-document #sidebar h3 {
  margin: 0.25em 5%;
}

.show-document #sidebar p {
  margin-bottom: 1.25em;
}

#breadcrumbs {
  margin-bottom: 0.25em;
}


// ---------
//  Header
// ---------

#header-navbar {
  background-color: $beige;

  h1 {
    color: #333;
  }

  h1 a {
    padding: 0.5em 0.75em 0.5em 0;
    color: #333;
  }

  h1 a:hover, h1 a:focus {
    text-decoration: none;
    color: #666;
  }
}

#header-navbar h1 {
  padding-top: 0.5em;
  margin: 0;
  font-size: 30px !important;
}

.hhc-logo {
  float: right;
  max-height: 4em;
  z-index: 5000;
  padding-right: 1.5em;
  padding-left: 2em;
  background-color: #fff;
}

// ---------
//  Footer
// ---------

#parter-footer {
  margin-top: 4.5em;
  margin-bottom: 1em;
}

.partner-logos {
  padding: 0;

  img {
    padding: 1em;
    border: 1px solid #e7e7e7;
    width: 85%;
    margin-left: 5%;
  }
}

// ----------------
//  Search Results
// ----------------

.index_title {
  font-size: 24.5px;
  font-weight: 100;
}

#documents {
  dd { line-height: inherit; }
}

#facets .panel-body {
  padding: 0;

  .facet-values .facet-label {
    text-indent: 0;
  }
  .facet-count {
    padding-right: 1em;
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $beige;
  border-color: $beige;
}

.more_facets_link {
  padding-left: 15px;
}

*/