<h3> Summary </h3>

<% show_fields = [['reference_no_ssi', 'Reference No'],
                  ['extent_ssm', 'Extent'],
                  ['language_ssim', 'Language'],
                  ['access_ssim', 'Access Conditions'],
                  ['copyright_ssm', 'Copyright'],
                  ['custodial_history_ssim', 'Custodial History']] %>

<dl class="dl-horizontal  dl-invert">
  <% show_fields.each do |(solr_doc_key, label)| %>
    <%= show_attribute(document, solr_doc_key, label) %>
  <% end %>

  <dt> Permanent Link </dt>
  <dd> <%= catalogue_url(document.id) %> </dd>

  <%= show_attribute(document, 'repository_ssi', 'Repository') %>
</dl>
