<div id="parter-footer" class="row">
  <div class="partner-logos col-md-2"> </div>

  <div class="partner-logos col-md-8">
    <%= image_tag('Partner.jpg', alt: 'Partners: Hull City Council, Heritage Lottery Fund, University of Hull') %>
  </div>
</div>
