<div id="footer">
  <div class="partner-logos container">
    <%= image_tag('Partner.jpg', alt: 'Partners: Hull City Council, Heritage Lottery Fund, University of Hull', class: 'container') %>
  </div>
</div>
