<div class="hidden-sm hidden-xs">
  <%= link_to image_tag('Logo438C.jpg', :class => "hhc-logo", alt: "Hull History Centre"), "http://www.hullhistorycentre.org.uk/" %>
</div>

<div id="header-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <h1>
        <%= link_to application_name, root_path %>
      </h1>
    </div>
  </div>
</div>