<!-- <div class="tile-inner-container tile-content tile-white col-md-10 col-md-offset-1"> -->
<h2 class="twitter-header-adjuster">@Hull<br class="visible-xs"/>historynews</h2>
<a class="new-tweet twitter-timeline" width="520" data-chrome="nofooter transparent noborders noheader" data-link-color="#005269" href="https://twitter.com/Hullhistorynews" data-tweet-limit="3" data-widget-id="346562008998612993">Tweets by @Hullhistorynews</a>
<script type="text/javascript">// <![CDATA[
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
// ]]></script>