<div class="scroll-to-top" style="display: none">
  <a href="#main-container" title="Click to go to top" class="scroll-to-anchor"><span class="glyphicon glyphicon-arrow-up"></span> <span class="hidden-xs"> Scroll to top</span></a>
</div>