<div class="tile-btn-fw-primary">
    <%= link_to 'Home  →', root_path, :title => 'Click to go to the homepage' %>
</div>
<div class="tile-btn-fw-primary-2">
    <%= link_to 'About  →', 'about', :title => 'Click to go to the about page' %>
</div>
 <div class="tile-btn-fw-primary-3">
    <%= link_to 'Help  →', 'help', :title => 'Click to go to the help page' %>
</div>