<div id="search-navbar" class="subnav navbar-alt " role="navigation">
  <div class="container">

<div class="brand-logo pull-left hidden-xs hidden-sm">
        <a href="/">
<!--           <img src="assets/hhc-logo-nt.svg"> -->
        </a>
      </div>

  </div>
</div>
