<ul class="nav navbar-nav">
	<li><a href="about.html">About</a></li>
	<li><a href="#tile1">News</a></li>
	<li><a href="#tile1b">Help</a></li>	
	<li>
	<a class="" href="#" title="Click to sign in">Sign in...</a>
	</li>
</ul>