<ul class="nav navbar-nav">	
	<li><a href="about.html">About</a></li>
</ul>

<form method="get" class="navbar-form navbar-left" action="http://localhost:3000/" accept-charset="UTF-8">

            <div class="input-group input-group">
        
              <input type="text" placeholder="Search our catalogue..." name="q" id="q" class="search_q q form-control" autofocus="autofocus">
              <span class="input-group-btn">
                <button id="search" class="btn btn-primary search-btn" type="submit">
                  <span class="submit-search-text ">Search</span>
                </button>
              </span>

            </div>

        </form>

<ul class="nav navbar-nav">	
	<li>
	<a class="" href="http://localhost:3000/advanced?q=" title="Click to sign in">Advanced Search</a>
	</li>
</ul>