<!-- Carousel
================================================== -->
<div id="carousel" class="carousel slide" data-interval="100000" data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="item active">
      <div id="carousel-image-1" class="image-holder"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to the Hull History Centre</h1>
          <p>
          

          <form method="get" class="navbar-form" action="http://localhost:3000/" accept-charset="UTF-8">


              <!-- <div class="input-group-lg">

        <label class="sr-only" for="q">Search our catalogues</label>
         <input type="text" placeholder="Search our archives" name="q" id="q" class="search_q q form-control" autofocus="autofocus">

        <span class="input-group-btn">
          <button id="search" class="btn btn-primary search-btn" type="submit">
            <span class="submit-search-text">Search</span>
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div> -->

      <div class="input-group input-group-lg">
  
        <input type="text" placeholder="Search our archives..." name="q" id="q" class="search_q q form-control" autofocus="autofocus">
        <span class="input-group-btn">
          <button id="search" class="btn btn-primary search-btn" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            <span class="submit-search-text hidden-sm hidden-xs">Search</span>
          </button>
        </span>
      </div>


        </form>

          </p>
<!--           <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p> -->
        </div>
      </div>
    </div>

    <div class="item">
    
      <div id="carousel-image-2" class="image-holder"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another Headline Here</h1>
          <p>Summary text to accompany headline above. This could be anything and include links</p>
          <p><a class="btn btn-large btn-primary" href="#">Buttons can be used</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <div id="carousel-image-3" class="image-holder"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Use Lots Of Headlines</h1>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse</a></p>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  

</div>






<div id="tile1" class="tile tile-white">

  <div class="row">

    <!-- News tile -->
    <div class="col-md-8 col-md-offset-2">
      <div class="tile-container tile-content">
        <h2>News and features</h2>

        <article class="news-article">
          <time datetime="2014-07-09" class="bar-time">July 10, 2014</time>
          <h3>eBridge update</h3>
          <p class="doc">
            eBridge will be unavailable to all users from 09:30 Thursday 16th July until 16:30 Friday 17th July to upgrade the system to Sakai version 2.9. The upgraded software contains additional functionality.
          </p>
          <div class="tile-btn-primary">
            <a class="read-article" title="Click to read this article" href="https://ebridge.hull.ac.uk/access/content/public/2.9%20upgrade.htm">Read article →</a>
          </div>
        </article>

        <article class="news-article">
          <time datetime="2014-07-09" class="bar-time">July 9, 2014</time>
          <h3>Putting learning first</h3>
          <p class="doc">
            The Technology Enhanced Learning (TEL) team provide a single point of contact for a service intended to help staff use technology to enhance the student learning experience at the University by working with staff to show them what technologies are available and how they can help improve the student learning experience.
          </p><!-- .doc -->
          <div class="tile-btn-primary">
            <a class="read-article" title="Click to read this article" href="http://www2.hull.ac.uk/administration/tel.aspx">Read article →</a>
          </div>
        </article>

        <article class="news-article">
        <h3>Archived news</h3>
          
          <div class="tile-btn-primary">
            <a class="read-article" title="Click to read this article" href="https://ebridge.hull.ac.uk/access/content/group/gateway_test_2/final%20draft%20version%20gateway/ebridge%20News/News%20Archive">View archive →</a>
          </div>
        </article>

      </div>
    </div>

  </div>

</div><!-- .tile1 -->

<div id="tile2" class="tile tile-white">
  <div class="tile-container tile-content">

    <h2>New to eBridge?</h2>

    <!-- Student help -->
    <div class="row">

        <div class="col-md-3">         
            <div class="">
              <h3>Help for students</h3>
              <p>
              eBridge is the University's online Virtual Learning Environment (VLE). Each department tutor will decide how they will be using the VLE and instruct their students accordingly
              </p><!-- .student help -->
              <div class="tile-btn-primary">
                <a href="https://ebridge.hull.ac.uk/access/content/group/cmpst_00676/HTML%20Documentation/eBridge/eBridge%20Basics%20for%20Students/eBridge%20Basics%20for%20Students.htm" title="Click for eBridge Basics for Students">Basics For Students</a>
              </div>
            </div>
        </div>

        <div class="hr-alt hidden-md hidden-lg"></div>



      <!-- Staff help -->
      <div class="col-md-3">
        
          <div class="">
            <h3>Help for staff</h3>
            <p class="doc">
            If you are knew to Virtual Learning Environments (VLE) and, in particular, eBridge, these guides will help you get started and to become more familiar with our VLE
            </p>
            <div class="tile-btn-blue">
                <a href="https://ebridge.hull.ac.uk/access/content/group/cmpst_00676/HTML%20Documentation/eBridge/Gettng%20Started%20with%20eBridge%20for%20Staff/Getting%20Started%20with%20eBridge%20for%20Staff.htm" title="Click for Getting Started with eBridge">Getting Started</a>
            </div>
            <div class="tile-btn-blue">
                <a href="https://ebridge.hull.ac.uk/access/content/group/cmpst_00676/HTML%20Documentation/eBridge/Overview%20of%20site%20default%20tools/overviewofsitedefaulttools.htm" title="Click for Site Tools Overview">Site Tools Overview</a>
            </div>
            <div class="tile-btn-blue">
                <a href="https://ebridge.hull.ac.uk/access/content/group/cmpst_00676/HTML%20Documentation/eBridge/Overview%20of%20site%20default%20tools/overviewofsitedefaulttools.htm" title="Click for Site Tools Overview">Site Tools Overview</a>
            </div>
            <div class="tile-btn-blue">
                <a href="https://ebridge.hull.ac.uk/access/content/group/cmpst_00676/HTML%20Documentation/eBridge/Overview%20of%20site%20default%20tools/overviewofsitedefaulttools.htm" title="Click for Creating Homepages">Creating Homepages</a>
            </div>
            <div class="tile-btn-blue">
                <a href="https://ebridge.hull.ac.uk/access/content/group/cmpst_00676/HTML%20Documentation/eBridge/Creating%20groups/creating%20groups.htm" title="Click for Creating Group">Creating Groups</a>
            </div>
            <!-- .staff help -->
          </div>

      </div>

      <div class="hr-alt hidden-md hidden-lg"></div>


      <!-- Guest information -->
      <div class="col-md-3">
        
        <div class="">
          <h3>FAQs</h3>
          <p class="doc">
            The FAQ's are aimed at providing quick concise advice pertaining to the most commonly asked questions which the TEL team receive in relation to using eBridge
          </p><!-- .guest information -->
          <div class="tile-btn-orange">
              <a href="http://libanswers.hull.ac.uk/" title="Click for Frequently asked Questions">FAQs</a>
          </div>
        </div>

      </div>

      <div class="hr-alt hidden-md hidden-lg"></div>

      <!-- Further information -->
      <div class="col-md-3">
        
          <div class="">
            <h3>Support Materials</h3>
            <p class="doc">
             The eBridge support materials are aimed at providing 'how to' guidance in relation to using a range of tools within eBridge and cover getting started, uploading course materials through to creating assessments and using collaborative tools
            </p><!-- .further information -->
            <div class="tile-btn-green">
              <a href="http://www2.hull.ac.uk/administration/tel/ebridgesupportmaterials.aspx" title="Click for eBridge Support Materials">eBridge Support Materials</a>
          </div>
          </div>

      </div>

     </div> 
  </div>
</div><!-- .tile2 -->