<!-- Carousel
================================================== -->
<div id="carousel" class="carousel slide" data-interval="10000" data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="item active">
      <div id="carousel-image-1" class="image-holder"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to the <br/> Hull History Centre</h1>
          <!-- <p>
            The Hull History Centre brings together collections of local, regional and national importance relating to the city of Hull and the surrounding areas, Hull’s maritime history, political figures and pressure groups, and prominent figures in literature and drama
          </p> -->
          <p>
          

          <form method="get" class="navbar-form" action="http://localhost:3000/" accept-charset="UTF-8">

            <div class="input-group input-group-lg">
        
              <input type="text" placeholder="Search our catalogue..." name="q" id="q" class="search_q q form-control" autofocus="autofocus">
              <span class="input-group-btn">
                <button id="search" class="btn btn-primary search-btn" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                  <span class="submit-search-text hidden-sm hidden-xs">Search</span>
                </button>
              </span>

            </div>

        </form>

          </p>
          <p><a>Advanced Search</a></p>
<!--           <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p> -->
        </div>
      </div>
    </div>

    <div class="item">
    
      <div id="carousel-image-2" class="image-holder"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>WW1 commemorations</h1>
          <p>Details of the collections we hold relating to the First World War</p>
          <p><a class="btn btn-large btn-primary" href="#">Collections</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <div id="carousel-image-3" class="image-holder"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Enquiry service</h1>
          <p>Did you know our enquiry service can undertake research on your behalf?</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  

</div>

<!-- sub menu -->

<!-- <div id="header-sub-menu" class="">
  <div class="row tile-light-gray">
    <div class="col-md-3 menu-item">
      <a href="/" id="item1">View Catalogue</a>
    </div>
    <div class="col-md-3 menu-item">
      <a href="/" id="item2">Latest News</a>
    </div>
    <div class="col-md-3 menu-item">
      <a href="/" id="item3">Our Collections</a>
    </div>
    <div class="col-md-3 menu-item">
      <a href="/" id="item4">Help</a>
    </div>
</div>
</div>
 -->



<div id="tile1" class="tile tile-white">

    <div class="tile-container tile-content">

      <!-- Student help -->
      <div class="row">

          <div class="col-md-3">         
              <div class="">
                <h3>The Catalogue</h3>
                <p>
               The Hull History Centre brings together collections of local, regional and national importance relating to the city of Hull and the surrounding areas, Hull’s maritime history, political figures and pressure groups, and prominent figures in literature and drama
                </p><!-- .student help -->
                <div class="tile-btn-secondary">
                  <a href="" title="Click to browser the catalogue">Browse</a>
                </div>
                <div class="tile-btn-secondary">
                  <a href="" title="Click to search the catlogue ">Search</a>
                </div>
                <div class="tile-btn-secondary">
                  <a href="" title="Click for advanced search">Advanced Search</a>
                </div>
              </div>
          </div>

          <div class="hr-alt hidden-md hidden-lg"></div>



        <!-- Staff help -->
        <div class="col-md-3">
          
            <div class="">
              <h3>News</h3>
              <p class="doc">
              Some information about a news section could appear here with relevant links to articles etc below
              </p>
              <div class="tile-btn-secondary-2">
                  <a href="/" title="Click for Latest News">Latest News</a>
              </div>
              <div class="tile-btn-secondary-2">
                  <a href="Click to find out whats on at the HHC">Whats On</a>
              </div>
              <!-- .staff help -->
            </div>

        </div>

        <div class="hr-alt hidden-md hidden-lg"></div>


        <!-- Guest information -->
        <div class="col-md-3">
          
          <div class="">
            <h3>Collections</h3>
            <p class="doc">
              A short summary about collections could appear here with relevant links to collection below
            </p><!-- .guest information -->
            <div class="tile-btn-secondary-3">
                <a href="" title="Click for Frequently asked Questions">First World War</a>
            </div>
            <div class="tile-btn-secondary-3">
                <a href="" title="Click for Frequently asked Questions">Maritime</a>
            </div>
            <div class="tile-btn-secondary-3">
                <a href="" title="Click for Frequently asked Questions">Local History</a>
            </div>
          </div>

        </div>

        <div class="hr-alt hidden-md hidden-lg"></div>

        <!-- Further information -->
        <div class="col-md-3">
          
            <div class="">
              <h3>Help</h3>
              <p class="doc">
               A short summary about help and support materials could appear here with relevant links to futher reading below. 
               A short summary about help and support materials could appear here with relevant links to futher reading below.
              </p><!-- .further information -->
              <div class="tile-btn-secondary-4">
                <a href="" title="Click for Support Materials">Support Materials</a>
              </div>
              <div class="tile-btn-secondary-4">
                <a href="" title="Click for FAQs">FAQs</a>
              </div>
            </div>

        </div>

       </div> 
    </div>

</div><!-- .tile1 -->







<div id="tile2" class="tile tile-light-gray">

  <div class="row">

    <div class="col-md-12 col-md-offset-2">
      <div class="tile-container tile-content">
        <h2>News</h2>

        <article class="news-article">
          <time datetime="2014-09-019" class="bar-time">July 10, 2014</time>
          <h3>News Article 1</h3>
          <p class="doc">
            Fan of Minecraft? - see our new site HullCraft.com - using plans from the archives and earn some badges!
          </p>
          <div class="tile-btn-primary">
            <a class="read-article" title="Click to read this article" href="/">Read article →</a>
          </div>
        </article>

        <article class="news-article">
          <time datetime="2014-09-019" class="bar-time">July 9, 2014</time>
          <h3>News Article 2</h3>
          <p class="doc">
            Revised opening hours - we are closed to the public on Mondays and only open on 1st and 3rd Saturdays of the month.
          </p>
          <div class="tile-btn-primary">
            <a class="read-article" title="Click to read this article" href="http://www2.hull.ac.uk/administration/tel.aspx">Read article →</a>
          </div>
        </article>

        <article class="news-article">
        <h3>Archived news</h3>
          
          <div class="tile-btn-primary">
            <a class="read-article" title="Click to read this article" href="/">View archive →</a>
          </div>
        </article>

      </div>
    </div>

  </div>

</div><!-- .tile2 -->


<!-- .tile3 -->
<div id="tile3" class="tile tile-white">

  <div class="row">

<!--     <div class="col-spacer-bottom"></div>
 -->
    <!-- Twitter tile -->
    <div class="col-md-8 col-md-offset-2">

      <div class="tile-inner-container tile-content tile-white" style="padding-bottom: 0">
        <h2>Twitter @Hullhistorynews</h2>
        <!-- <a class="new-tweet twitter-timeline" width="520" data-chrome="nofooter transparent noborders noheader" data-link-color="#006495" href="https://twitter.com/HullUni_Library" data-tweet-limit="3" data-widget-id="316197672757362688">Tweets by @HullUni_Library</a> -->
        <a class="new-tweet twitter-timeline" width="520" data-chrome="nofooter transparent noborders noheader" data-link-color="#005269" href="https://twitter.com/HullUni_ICT" data-tweet-limit="3" data-widget-id="324897370934484992">Tweets by @HullUni_ICT</a>


        <script type="text/javascript">// <![CDATA[
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      // ]]></script>

      </div>

    </div>

  </div>
</div>
</div><!-- .tile3 -->

