<div id="sidebar-nav" class="well square-corners">
  <ul class="nav nav-list">
    <li>
      <fieldset id="assets">
        <legend>
          <h3> Availability </h3>
        </legend>
        <div id="asset-list">
          <div class="clearfix">
            <% unless @document['type_ssi'] == 'library_record' %>
              <p> This item is reference only and can only be consulted in person at the Hull History Centre.  </p>
            <% end %>

            <label> Reference No: </label> <br />
            <%= @document['reference_no_ssi'] %>
          </div>
        </div>
      </fieldset>
    </li>
  </ul>
</div>
