<div id="sidebar-nav" class="well square-corners">
  <ul class="nav nav-list">
    <li>
      <fieldset id="assets">
        <legend>
          <h3> Availability </h3>
        </legend>
        <div id="asset-list">
          <div class="clearfix">
            <label> Reference No: </label>
            <br />
            <%= @document['reference_no_ssi'] %>
          </div>
        </div>
      </fieldset>
    </li>
  </ul>
</div>
