<%# A show view for a single LibraryRecord -%>

<dl class="dl-horizontal  dl-invert">
    <h3>
      <% authors = Array(document['author_tesim']) %>
      <% unless authors.empty? %>
        <dt> <%= author_label(document) %> &nbsp; </dt>
        <dd>
          <% authors.each do |auth| %>
            <%= auth %> <br />
          <% end %>
        </dd>
      <% end %>

      <% unless document['dates_ssim'].blank? %>
        <dt> Date: &nbsp; </dt>
        <dd> <%= Array(document['dates_ssim']).join(', ') %> </dd>
      <% end %>
    </h3>
  </dl>

<% show_fields = [['id', 'Reference No'],
                  ['publisher_ssim', 'Publication Information'],
                  ['physical_description_ssm', 'Physical Description'],
                  ['notes_ssm', 'General Notes'],
                  ['subject_ssim', 'Subject Keywords'],
                  ['isbn_ssm', 'ISBN'],
                  ['repository_ssi', 'Repository']] %>

<dl class="dl-horizontal  dl-invert">
  <% show_fields.each do |(solr_doc_key, label)| %>
    <%= show_attribute(document, solr_doc_key, label) %>
  <% end %>
</dl>
