<%# A show view for a single Collection -%>

<% unless document['dates_ssim'].blank? %>
  <h3>
    <dl class="dl-horizontal  dl-invert">
      <dt> Dates: &nbsp; </dt>
      <dd> <%= Array(document['dates_ssim']).join(', ') %> </dd>
    </dl>
  </h3>
<% end %>

<%= render "catalog/show_collection_summary", document: document %>
