<%# A show view for a single LibraryRecord -%>

<% authors = Array(document['author_tesim']) %>
<% unless authors.empty? %>
  <dl class="dl-horizontal  dl-invert">
    <h3>
      <dt> <%= author_label(document) %> &nbsp; </dt>
      <dd>
        <% authors.each do |auth| %>
          <%= auth %> <br />
        <% end %>
      </dd>
    </h3>
  </dl>
<% end %>

<dl class="dl-horizontal  dl-invert">
  <% show_fields = [['id', 'Reference No'],
                    ['publisher_ssim', 'Publication Information'],
                    ['subject_ssim', 'Subject Keywords'],
                    ['repository_ssi', 'Repository'],
                    ['physical_description_ssim', 'Physical Description'],
                   ] %>

  <% show_fields.each do |(solr_doc_key, label)| %>
    <%= show_attribute(document, solr_doc_key, label) %>
  <% end %>
</dl>
