@import 'bootstrap';
@import 'blacklight/blacklight';

$gray-olive: #c9c4b7;

// ---------
//  Header
// ---------

#header-navbar {
  background-color: $gray-olive;
  border-bottom: 1px solid darken($gray-olive, 20%);

  h1 {
    padding: 0.2em 0;
    margin: 0;
  }

  h1 a {
    padding: 0.2em 0.75em 0.2em 0;
    color: #333;
  }

  h1 a:hover, h1 a:focus {
    text-decoration: none;
    color: darken($gray-olive, 40%);
  }
}

.hhc-logo {
  float: right;
  max-height: 60px;
  z-index: 5000;
  padding-right: 1em;
  padding-left: 2em;
  background-color: #fff;
}

// ---------
//  Footer
// ---------

#home-footer {
  margin-top: 3em;
  margin-bottom: 1em;
}

.partner-logos {
  padding: 0;

  img {
    padding: 1em;
    border: 1px solid #e7e7e7;
    width: 85%;
    margin-left: 5%;
  }
}

